@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

:root{
    /* font */
    --my-font-pret: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --my-font-tena: 'Tenada';
    --my-font-na: "Nanum Pen Script", cursive;
    /* color */
    --my-main-one: #096688;
    
}

.bb{
    font-family: var(--my-font-na);
    font-weight: bold;
    font-size: 48px;
}
