@import url('../scss/commons.css');

/* nav */
nav {
    height: 80px;

    .container {
        display: none;
        .d-flex {
            
            justify-content: space-between;
            align-items: center;
            position: relative;
            .sub-menu-bg {
                position: absolute;
                background: rgba(240, 251, 255, 0.5);
                height: 150px;
                display: none;
                width: 100%;
            }
        }
    }
}

/* kv */
.kv {
    background-image: url('../images/kv-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 638px;

    .container {
        .row {
            .txtbox {
                padding: 230px 0;

                h3 {
                    color: #fff;
                }

                h2 {
                    margin-top: 30px;
                    color: #fff;

                    .pt1 {
                        color: var(--my-main-three);
                    }

                    .pt2 {
                        color: var(--my-main-four);
                    }
                }
            }
        }
    }
}

/* sec01 */
.sec01 {
    .container {
        padding: 200px 20px 100px 20px;

        .row {
            .toptxt {
                h4 {
                    margin-top: 10px;
                }
            }
        }

        .content {
            margin-top: 50px;

            .swiper {
                .con {
                    border: 1px solid #ddd;
                    padding: 20px;
                    border-radius: 20px;

                    .shop {
                        font-size: 1rem;
                        font-weight: 400;
                        color: #555;
                    }

                    .name {
                        font-size: 1.25rem;
                        font-weight: 500;
                    }

                    .price {
                        font-size: 2rem;
                        font-weight: 500;
                        color: #111;

                        .won {
                            font-size: 1.25rem;
                            font-weight: 400;
                            color: var(--my-txt-main);
                        }
                    }

                    .made {
                        font-size: 1rem;
                        font-weight: 400;
                        color: var(--my-main-two);
                        border: 1px solid var(--my-main-two);
                        padding: 2px 8px;
                        border-radius: 50px;
                    }
                }

                .con:hover {
                    border: 1px solid var(--my-main-two);
                    transition: all .3s ease;
                    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .2);
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                color: var(--my-main-two);
            }
        }
    }
}

/* sec02 */
.sec02 {
    background: var(--my-back-one);

    .container {
        padding: 100px 20px;

        .pt-5 {
            padding-top: 50px !important;

            .content {
                background: #fff;
                border-radius: 20px;

                .table-content {
                    padding: 50px 100px;
                    height: 550px;

                    .tablebox {
                        height: 450px;
                        overflow-y: auto;

                        table {
                            margin: 0 auto;
                            width: 1050px;

                            thead {
                                background: var(--my-back-two);

                                tr {
                                    height: 60px;
                                }
                            }

                            tbody {
                                tr {
                                    height: 60px;
                                    border-bottom: 1px solid var(--my-back-two);

                                    .line {
                                        border-right: 1px solid var(--my-back-two);
                                    }

                                    .red {
                                        color: #FF6565;
                                    }

                                    .blue {
                                        color: var(--my-main-two);
                                    }
                                }
                            }
                        }
                    }

                    .tablebox::-webkit-scrollbar {
                        background: var(--my-back-two);
                        width: 8px;
                        border-radius: 50px;
                    }

                    .tablebox::-webkit-scrollbar-thumb {
                        width: 10px;
                        background: #999;
                        border-radius: 50px;
                    }
                }

            }
        }
    }
}

/* sec03 */
.sec03 {
    .container {
        padding: 100px 20px;

        .row {
            .col-md-12 {
                h2 {
                    font-size: 3rem;
                    color: var(--my-main-two);
                }

                p {
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-top: 30px;
                }
            }
        }

        .mt-10 {
            margin-top: 100px;

            .col-md-3 {
                a {
                    color: #fff;
                    font-size: 1.25rem;
                    font-weight: 400;
                    text-decoration: none;

                    .con1 {
                        box-sizing: border-box;
                        background: var(--my-main-two);
                        padding: 20px 130px 58px 20px;
                        border-radius: 10px;
                    }
                }

                a {
                    color: #fff;
                    font-size: 1.25rem;
                    font-weight: 400;
                    text-decoration: none;

                    .con2 {
                        margin-top: 24px;
                        box-sizing: border-box;
                        background: var(--my-main-one);
                        padding: 20px 130px 58px 20px;
                        border-radius: 10px;
                    }
                }

                a:hover {
                    text-decoration: 1px solid underline;
                    text-underline-offset: 7px;
                }
            }

            .col-md-5 {
                .noti {
                    background-color: var(--my-back-two);
                    padding: 20px;
                    border-radius: 10px;

                    .d-flex {
                        justify-content: space-between;
                        align-items: center;

                        p {
                            font-size: 1.25rem;
                            font-weight: 700;
                            margin: 0;
                        }

                        a {
                            font-size: 0.88rem;
                            font-weight: 400;
                            color: #555;
                            text-decoration: none;
                        }

                        a:hover {
                            text-decoration: 1px solid underline;
                            text-underline-offset: 2px;
                            text-decoration-color: #999;
                        }
                    }

                    ul {
                        margin: 0;

                        li {
                            padding-top: 20px;

                            a {
                                color: #555;
                                text-decoration: none;

                                .d-flex {
                                    p {
                                        font-size: 1rem;
                                        font-weight: 300;

                                    }

                                    span {
                                        font-size: 0.88rem;
                                        font-weight: 300;
                                    }

                                }
                            }

                            a:hover {
                                text-decoration: 1px solid underline;
                                text-underline-offset: 3px;
                                text-decoration-color: #999;
                            }
                        }

                        li::marker {
                            color: #555;
                        }
                    }
                }
            }

            .col-md-4 {
                .con3 {
                    height: 237px;
                    border-radius: 10px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 237px;
                    }

                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: inherit;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: rgb(0, 0, 0, 0.5);
                        opacity: 0;
                        transition: opacity 0.2s;
                        border-radius: 10px;

                        a {
                            color: #fff;
                            text-decoration: none;
                            font-size: 1.25rem;
                            font-weight: 400;
                        }

                        a:hover {
                            text-decoration: 1px solid underline;
                            text-underline-offset: 3px;
                        }
                    }
                }

                .con3:hover .overlay {
                    opacity: 1;
                }
            }
        }
    }
}

/* footer */
footer {
    background: #00364A;

    .container {
        padding: 50px 20px;

        .col-md-9 {
            .d-flex {
                gap: 50px;

                a {
                    font-size: 1rem;
                    font-weight: 300;
                    color: #fff;
                    text-decoration: none;
                }
            }

            .footxt {
                padding-top: 20px;

                p {
                    color: #fff;
                    font-size: 0.88rem;
                    font-weight: 300;
                    margin: 0;
                }
            }

            .copy {
                padding-top: 10px;
                font-size: 0.88rem;
                font-weight: 300;
                color: #fff;
                margin: 0;
            }
        }
    }
}

/* media */

@media (max-width: 1320px){
    /* kv */
    .kv{
        height: 600px;
    }
    /* sec02 */
    .sec02{
        .container{
            .pt-5{
                .content{
                    .table-content{
                        padding: 50px 90px;
                        .tablebox{
                            table{
                                width: 900px;
                            }
                        }
                    }
                }
            }
        }
    }
    /* sec03 */
    .sec03{
        .container{
            .mt-10{
                .col-md-3{
                    a{
                        .con1{
                            padding: 20px 106px 58px 20px;;
                        }
                        .con2{
                            padding: 20px 106px 58px 20px;;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px){
    /* kv */
    .kv{
        height: 500px;
    }
}